* {
	Margin:0;
	padding:0;
 }
 

body{
	background-color: #212529;
	font-family: 'Oswald', sans-serif;	
	color: white;
}

main{
	padding: 0px 170px;
	margin-top: 53px;
}

nav{
	background-color: #3A4750;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 12px 5px 0 rgba(0, 0, 0, 0.2), 0 12px 12px 0 rgba(0, 0, 0, 0.19);
}

#menu{
	list-style: none;
	font-size:0;
	display: inline-block;
	margin-left: 30px;
 }
#menu li{
	display: inline-block;
	position:relative;
	font-size: 14px
 }

#menu ul{
	padding-inline-start: 0%;
	position: absolute;
	top: 32px;
	display: none;
	box-shadow: 12px 12px 5px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
 }
#menu ul li{
	display: block;
 }
#menu li:hover ul{
	display:block;
}

#menu a{
	display: block;
	background-color: #212529;
	border: white 1px solid;
	text-align: center;
	color: white;
	width: 100px;
	padding: 5px 0px;
	text-decoration: none;
}

#menu a:hover, #menu #activo, #carrito:hover, .links:hover, #volver:hover{
	background-color: #BE3144;
}

#titulo{
	font-family: 'Permanent Marker', cursive;
	color: #BE3144;
	padding: 0 50px 0 25px;
	font-size: 200%;
	text-shadow: black 2px 2px;
	display: inline-block;
}

#carrito{
	display: inline-block;
	background-color: #212529;
	border: 1px solid white;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	margin-left: 50px;
	margin-bottom: 5px;
}

#carrito span{
	font-size: 20px;
	font-weight: 5px;
	font-family: 'Oswald', sans-serif;
	font-family: 'Righteous', cursive;
	
}

section{
	background-color: #BE3144;
	width: 100%;
	padding: 10px;
}

#encabezado{
	background-color: #3A4750;
	color: white;
	font-size: 25px;
	padding: 5px 10px;
	margin-bottom: 10px;
	width: 35%;
	border-radius: 15px;
}

.grid{
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

.card{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: #3A4750;
	color: white;
	padding: 10px 10px;
	min-height: 290px;
	border: white 2px solid;
	transition: all 0.25s;
}

.card:hover{
	transform: translate(-5px, 10px);
	box-shadow: 12px 18px 5px 0 rgba(0, 0, 0, 0.2), 12px 18px 5px 0 rgba(0, 0, 0, 0.19);
}

.titulo{
	font-family: 'Oswald', sans-serif;
	font-family: 'Righteous', cursive;
	color: #BE3144;
	text-shadow: black 2px 2px;
	font-size: 150%;
}

.contenido{
	display: flex;
}

img{
	border: #BE3144 3px solid;
	margin-top: 10px;
	width: 200px;
	border-radius: 20px;
}

.card ul{
	margin: 15px 30px;
}

.precio{
	display: flex;
}

h3{
	font-family: 'Oswald', sans-serif;
	font-family: 'Righteous', cursive;
	color: #27AE60;
	font-size: 150%;
}

.precio a{
	font-family: 'Oswald', sans-serif;
	font-family: 'Righteous', cursive;
	font-size: 125%;
	border: 1px solid white;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: #22633d; 
	padding: 3px;
	margin-left: 15px;
	transition: all 0.5s;
}

.precio a:hover{
	background-color: #27AE60;
	transform: scale(1.25);
}

.links{
	display: inline-block;
	background-color: #212529;
	border: 1px solid white;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 3px 5px;
	margin-left: 15px;
}

#volver{
	background-color: #212529;
	border: 1px solid white;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 3px 5px;
	margin: 50px 0 40px 30px;
}

#formulario{
	background-color: #3A4750;
}